* {
    font-family: 'Noto Sans', sans-serif
}

:root{
    --aqua-color: #97FFF4;
    --background-color: #04364A;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 0px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

header nav{
    margin-right: 150px;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    position: relative;
    display: flex;
    justify-content: center;
}

header nav a::before{
    content: "";
    width: 0px;
    height 2.5px;
    position: absolute;
    bottom: -5px;
    background-color: white;
    transition: 0.3s;
}

header nav a:hover::before{
    width: 50px;
}

header nav .active{
    color: var(--aqua-color);
}

header nav .active::before{
background-color: var(--aqua-color);
}

body{
    display: flex;
    justify-content: start;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--background-color);
}
